<!DOCTYPE html>
<html lang="en">
	<head>
		    <meta charset="UTF-8">
			    <title>title</title>
	</head>
	<body>
		{% load i18n %}{% autoescape off %}
		{% blocktrans %}You're receiving this email because you requested a password reset 
		for your user account at {{ site_name }}.{% endblocktrans %}
		<br/>
		<br/>
		{% trans "Please go to the following page and choose a new password:" %}
		{% block reset_link %}
		<a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</a>
		{% endblock %}
		<br/>
		<br/>
		{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}
		<br/>
		<br/>
		{% trans "Thanks for using our site!" %}
		<br/>
		<br/>
		{% blocktrans %}The {{ site_name }} team{% endblocktrans %}
		<br/>
		<br/>
		<strong>Wonder why this mail is coming from slaponic.us? Most mail transports block emoji domain email outright - <a href="https://www.xudongz.com/blog/2017/idn-phishing/">here's the reason why</a></strong>
		{% endautoescape %}
	</body>
</html>
