@import url('../node_modules/react-mde/lib/styles/css/react-mde-all.css');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

:root {
	--accent: #DCAE1D;
	--primary: #00303F;
	--secondary: #7A9D96;
	--tertiary: #CAE4DB;
	--accenttwo: #F7F9FB;
}

section::before,
section::after {
	position: absolute;
	content: '';
	pointer-events: none;
}

section {
	position: relative;
	padding: 10em 10%;
	color: #fff;
	text-align: center;
}


body {
	margin: 0;
	padding: 0;
    font-family: 'Josefin Sans', sans-serif;
	min-width: 100%;
	color: #010;
	font-size: 1.1em;
	/* background: linear-gradient(-45deg, var(--accent),var(--accenttwo)); */
}

.background-div{
	background-image: url('https://www.rpnation.com/gallery/parchment-paper-div-test.33588/full');
	background-repeat: repeat;
}

.color-div-1{
	background-color: var(--secondary);
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}

h1,h2,h3,h4,h5,h6{
	color: var(--primary);
	font-family: 'Comfortaa', sans-serif;
}

a {
	color: var(--primary); 
}

a:hover {
	color: var(--secondary);
	text-decoration: none;
	transition: .5s;
}

input {
	border: none;
	font-size: 1.5em !important;
}

svg {
	color: gray
}

ul {
	list-style: none;
}

table {
	table-layout: fixed;
	width: 100%
}

td {
	overflow-wrap: break-word;
}

p{
    background-color: rgb(255,255,255,0.5);
    padding: 20px;
	border-radius: 10px;
	border: 1px lightgrey solid;
}

img {
	border-radius: 10px;
	/* border: 1px lightgrey solid; */
}

#header img{
	/* max-height: 50%; */
	display: inline;
}

/* helper classes */

.m0{
	margin: 0;
}

.p0{
	padding: 0;
}

.category-list{
    background-color: rgb(255,255,255,0.5);
	border: 1px lightgrey solid;
	border-radius: 10px;
    padding: 0 20px 20px 20px;
    margin-top: 3%;
}

.category-list h4{
	padding: 10px;
	text-align: center;
}
.promo {
	font-size: .75em;
}

.promo .alert {
	padding: 0;
	background-color: var(--tertiary);
	border-color: var(--tertiary);
	border-radius: 0;
}
.main-photo {
	background-image: url("https://img1.wsimg.com/isteam/ip/450350c3-44ea-4c81-be69-6dae3eaed7d9/bf7496f8-01c1-44d4-b534-d19796038d65.jpg/:/rs=w:1600,h:600,cg:true,m/cr=w:1600,h:600,a:cc");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: -30px;
}

.close {
	margin: 5px;
}

.main-photo-text {
	padding: 200px 0 200px 0;
	text-align: center;
}

.main-photo-text h1 span, .main-photo-text h4 span{
	color: var(--accent);
	background-color: rgb(80, 80, 80, 0.5);
	padding: 7px;
	border-radius: 10px;
}
.narrow-section {
	padding: 0 10% 0 10%;
	min-height: 200px;
}

.svg-inline--fa{
	margin-left: 5px;
}

#header, #footer, .made-by{
	background-color: white;
}

#header {
	min-height: 85px;
}

#footer {
	margin-top: 50px;
	padding: 20px 20px 0 20px;
}

#footer p {
	border: none;
}

.carousel{
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 50px;
	padding-bottom: 50px;
	/* max-width: 500px; */
	/* max-height: 500px; */
}

.home-container {
	margin-top: -1.5%;
}

.product-image img{
	max-width: 100%;
}

.product-image {
	padding: 0 10px 50px 10px;
}

.pagination {
	margin: 5px;
	display: inline;
}

.made-by{
	font-size: .7em;
}

.btn-primary{
	background-color: var(--accent);
	color: var(--primary);
	border: none;
}

.btn-primary:hover{
	background-color: var(--accenttwo);
	color: var(--primary);
}

.btn-primary:focus{
	background-color: var(--tertiary);
	color: var(--primary);
}
/*.dropdown:hover > .dropdown-menu {*/
/*    display: block;*/
/*}*/
/*.dropdown > .dropdown-toggle:active {*/
/*    /*Without this, clicking will make it sticky*/
/*    pointer-events: none;*/
/*}*/

/* >:( stupid recaptcha lib... */
.recaptcha-wrapper > div > div > div {
	height: auto !important;
	width: auto !important;
}


