@import url('../node_modules/react-mde/lib/styles/css/react-mde-all.css');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700');

:root {
	--accent: #DCAE1D;
	--primary: #00303F;
	--secondary: #7A9D96;
	--tertiary: #CAE4DB;
	--accenttwo: #F7F9FB;
}

body {
	margin: 0;
	padding: 0;
    font-family: 'Roboto', sans-serif;
	font-weight: 400;
	min-width: 100%;
	color: #010;
	font-size: 1.1em;
	/* background: linear-gradient(-45deg, var(--accent),var(--accenttwo)); */
}

h1,h2,h3,h4,h5,h6{
	color: black;
	font-family: 'Roboto', sans-serif;
}

a {
	color: black; 
}

a:hover {
	color: var(--secondary);
	text-decoration: none;
	transition: .5s;
}

input {
	border: none;
	font-size: 1.5em !important;
}

svg {
	color: gray
}

ul {
	list-style: none;
}

a svg:hover{
	color: black;
	transition: 1s;
}

button, input, textarea{
	border-radius: 0 !important;
}

/* header */

#header img{
	height: 50px;
	display: inline;
}

#header{
	font-weight: 100;
	background-color: white;
}

.navbar-toggler{
	border: none !important;
}

#header h3{
	font-weight: 100;
	display: inline;
}

/* helper classes */

.m0{
	margin: 0;
}

.p0{
	padding: 0;
}

.category-list{
    background-color: rgb(255,255,255,0.5);
	border: 1px lightgrey solid;
	border-radius: 10px;
    padding: 0 20px 20px 20px;
    margin-top: 3%;
}

.posts-image img{
	width: 100%;
}

/* >:( stupid recaptcha lib... */
.recaptcha-wrapper > div > div > div {
	height: auto !important;
	width: auto !important;
}

.tag-link{
	text-decoration: underline;	
}
/* main page masonry images */

.main-masonry{
	width: 100% !important;
}

.main-masonry div{
	max-width: 475px;
	max-height: 475px;
}


.overlay-container {
  /* position: relative; */
  max-height: 475px;
  max-width: 475px;
}

.overlay-container img {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  height: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  text-align: center;
}

.overlay-text{
	position: absolute;
	top: 50%;
	left: 25%;
	right: 25%;
}

.overlay-container:hover .overlay {
  opacity: 1;
}

/*modal routes*/
.react-router-modal__modal-open {
	color: black;
}

.react-router-modal__modal-open {
	position: inherit;
}

.example-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	background-color: white;
	padding: 2rem;
	opacity: 0;
}

.example-modal-in  {
	transition: opacity 0.5s ease-in;
	opacity: 1 
}

.example-modal-out {
	transition: opacity 0.3s ease-out;
	opacity: 0
}

.example-backdrop {
	background-color: black;
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.example-backdrop-in  {
	transition: opacity 0.3s ease-in;
	opacity: 0.5;
}

.example-backdrop-out  {
	transition: opacity 1.5s ease-out;
	opacity: 0;
}

/* fix navbar & modals */
.fixed-top{
	z-index: 2 !important;
}

.svg-inline--fa{
	margin: 5px;
}

/* mobile styles */
@media (max-width: 576px) {
	.example-modal{
		top: 350px;
		width: 90%;
		max-height: 100vh;
		overflow-y: auto;
	}
}
